@using library1.PublicModel @* for AreaLabel ID, Size *@
@model library1.Models.ViewModel.ChangePassViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library1
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_userpanel")
</div>

<div class="col-md-9">
    <div class="top-buffer"></div>
    <div class="panel div-cart">
        <div class="panel-head title-medium">تغییر رمز عبور</div>
        <hr class="break" />
        <div class="panel-body">

            <form asp-controller="UserProfile" asp-action="changePassword" asp-area="User" method="post">

                @if (ViewBag.changepass != "")
                {
                    <div class="form-horizontal">
                        <span class="title-medium " style="color:lightseagreen">@ViewBag.changepass</span>
                        <br />
                        <br />
                    </div>
                }
                @if (ViewBag.wrongpass != "")
                {
                    <div class="form-horizontal">
                        <span class="title-medium " style="color:crimson">@ViewBag.wrongpass</span>
                        <br />
                        <br />
                    </div>
                }

                <div class="row form-horizontal">
                    <input asp-for="IdUser" class="hidden" />
                    <div class="form-group">
                        <label asp-for="OldPassword" class="col-lg-3 col-sm-3 control-label title-small"></label>
                        <div class="col-lg-6">
                            <input asp-for="OldPassword" class="form-control title-medium" />
                            <span asp-validation-for="OldPassword" class="title-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="col-lg-3 col-sm-3 control-label title-small"></label>
                        <div class="col-lg-6">
                            <input asp-for="NewPassword" class="form-control title-medium" />
                            <span asp-validation-for="NewPassword" class="title-small"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="col-lg-3 col-sm-3 control-label title-small"></label>
                        <div class="col-lg-6">
                            <input asp-for="ConfirmNewPassword" class="form-control title-medium" />
                            <span asp-validation-for="ConfirmNewPassword" class="title-small"></span>
                        </div>
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <button type="submit" style="color:white; width:96px; height:32px;" class="btn btn-success title-medium ">تغییر رمز</button>
                    </div>
                </div>
            </form>

            <hr class="break-dash" />
            <span class="title-small">رمز عبور شامل » عدد + حروف انگلیسی بزرگ + حروف انگلیسی کوچک + کارکتر خاص </span>
            <br />
            <br />
            <span class="title-small">:::: نمونه رمز ::::</span>
            <span class="title-bold">passWORD1996!?</span>

        </div>
    </div>

</div>

@section Scripts{
    <script src="~/lib/modal-js/request-index.js"></script>
    <script src="~/js/myScript/menu panel admin.js"></script>
}
@* modal *@
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-request", AreaLabeledId = "", Size = ModalSize.Medium })