@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="dv-last-commnet">
    <span class="cart-title">آخرین نظرات</span>
    <hr class="break-dash" />

    <div class="row">

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile01 (Custom).png" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile02 (Custom).png" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile03 (Custom).png" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile04 (Custom).png" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile05 (Custom).jpg" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile06 (Custom).jpg" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile07 (Custom).jpg" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-12 item-comment">
            <div class="recommend">
                <a href="#">
                    <img src="~/images/profiles/profile08 (Custom).jpg" alt="نظر کاربر">
                </a>
                <div class="recommend-content">
                    <p class="title-comment">نظر شخصی کاربر برای موضوع مرتب با مطالب موجود در سایت که می تواند کمک کننده باشد</p>
                    <span class="author">هیربد لطفیان</span>
                    <span class="data">1398/06/08</span>

                    <a href="#" class="reply">
                        پاسخ
                    </a>
                </div>
            </div>
        </div>

        <hr class="break-dash" />

        <form asp-action="" method="post" id="">
            <h4 class="cart-title title-bold">::::::    نظرتون چیه    :::::::</h4>
            <br />

            <div class="col form-group col-md-12 ">
                <textarea class="form-control Mytextarea center-block not-radius" id="" rows="3" placeholder="نظرتون خوبتون"></textarea>
            </div>

            <div class="form-row">
                <div class="col form-group col-md-6">
                    <input type="text" required="required" class="form-control not-radius Mytextbox" placeholder="اسمتون چیه">
                </div>
                <div class="col form-group col-md-6">
                    <input type="email" required="required" class="form-control not-radius Mytextbox" placeholder="ایمیل تون">
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">ثبت نظرتون</button>

        </form>



    </div>

</div>