@model library1.PublicModel.ModelHeader


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" >&times;</button>
    <h4 class="title-medium">@Model.Header</h4>
</div>