@using library1.PublicModel
@model library1.Models.ViewModel.EditUserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library1


<form asp-action="EditUser" asp-controller="User"
      id="edituser" data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#edituser" data-ajax-mode="replace">

    @* header *@
    @await Html.PartialAsync("_Modalheader", new ModelHeader { Header = "ویرایش کاربر" })


    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">

            <div class="form-group">
                <label asp-for="FirstName" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <input asp-for="FirstName" class="form-control title-medium" />
                    <span asp-validation-for="FirstName" class="title-small" ></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="LastName" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <input asp-for="LastName" class="form-control title-medium" />
                    <span asp-validation-for="LastName" class="title-small"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <input asp-for="Email" class="form-control title-medium" />
                    <span asp-validation-for="Email" class="title-small"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ApplicaitonRoleId" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <select asp-for="ApplicaitonRoleId" class="control-label title-small" asp-items="@Model.ApplicationRoles">
                    </select>
                </div>
            </div>

            <input asp-for="Id" class="hidden" />
            <input type="hidden" name="redirectUrl" value="@Url.Action("Index","User")" />



        </div>
    </div>

    @* footer *@
    @await Html.PartialAsync("_Modalfooter", new Modalfooter { SubmitButtonText = "بروز رسانی", OnlyCancelButton = false })

</form>