@using library1.PublicModel
@model library1.Models.BookGroup
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library1

@*@Html.AntiForgeryToken()*@
<form asp-action="AddEditBookGroup" asp-controller="BookGroup"
      id="frmaddeditbookgroup" data-ajax="true" data-ajax-method="POST"
      data-ajax-update="#frmaddeditbookgroup" data-ajax-mode="replace">

    @* header *@
    @if (Model.BookGroupId == 0)
    {
        @await Html.PartialAsync("_Modalheader", new ModelHeader { Header = "گروه بندی جدید" })
    }
    else
    {
        @await Html.PartialAsync("_Modalheader", new ModelHeader { Header = "ویرایش گروه بندی" })
    }


    @* body *@
    <div class="modal-body form-horizontal">
        <div class="row">

            <div class="form-group">
                <label asp-for="GropuName" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <input asp-for="GropuName" class="form-control title-medium" />
                    <span asp-validation-for="GropuName" class="title-small"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <input asp-for="Description" class="form-control title-medium" />
                    <span asp-validation-for="Description" class="title-small"></span>
                </div>
            </div>

            <div class="form-group hidden">
                <label asp-for="BookGroupId" class="col-lg-3 col-sm-3 control-label title-small"></label>
                <div class="col-lg-6">
                    <input asp-for="BookGroupId" class="form-control title-medium" />
                </div>
            </div>

            <input type="hidden" name="redirectUrl" value="@Url.Action("Index","BookGroup")" />

        </div>
    </div>

    @* footer *@
    @if (Model.BookGroupId == 0)
    {
        @await Html.PartialAsync("_Modalfooter", new Modalfooter { SubmitButtonText = "ثبت", OnlyCancelButton = false })
    }
    else
    {
        @await Html.PartialAsync("_Modalfooter", new Modalfooter { SubmitButtonText = "بروز رسانی", OnlyCancelButton = false })
    }

</form>